.pictureContainer{
		width: 150px;
		height: 150px;
		overflow: hidden;
	}

.pictureContainer img{
	transition: transform .2s ease-in-out;
}

.pictureContainer img:hover{
	transform: translate3d(0px, -150px, 0px);
}
